[submodule "frontend"]
	path = services/facility-booking-frontend
	url = git@github.com:yuichi04/facility-booking-frontend.git
[submodule "admin-frontend"]
	path = services/facility-booking-admin-frontend
	url = git@github.com:yuichi04/facility-booking-admin-frontend.git
[submodule "auth-api"]
    path = services/facility-booking-auth-api
    url = git@github.com:yuichi04/facility-booking-auth-api.git
[submodule "facilities-api"]
    path = services/facility-booking-facilities-api
    url = git@github.com:yuichi04/facility-booking-facilities-api.git
[submodule "bookings-api"]
    path = services/facility-booking-bookings-api
    url = git@github.com:yuichi04/facility-booking-bookings-api.git